<div class="dialog">
  <header>
    <h3>{{ 'LOGIN.REGISTRATION_SUCCESSFUL_DIALOG.HEADER' | translate }}</h3>
    <button class="close" mat-icon-button [matDialogClose]="null">✕</button>
  </header>
  <div class="message">
    <span>{{ 'LOGIN.REGISTRATION_SUCCESSFUL_DIALOG.MESSAGE' | translate }}</span>
    <span
      ><strong>{{ data.email }}</strong></span
    >
  </div>
  <div class="controls">
    <button mat-button [matDialogClose]="null">{{ 'SHARED.CLOSE' | translate }}</button>
  </div>
</div>
