<div class="dialog">
  <header>
    <h3>{{ `CATEGORIES.DIALOG.HEADER.${data.isNew ? 'ADD' : 'EDIT'}` | translate }}</h3>
    <button class="close" mat-icon-button [matDialogClose]="null">✕</button>
  </header>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'SHARED.NAME' | translate }}</mat-label>
      <input matInput type="text" formControlName="name" maxlength="255" />
    </mat-form-field>
    @if (form.controls.name.touched) {
      @if (form.controls.name.hasError('lengthInvalid')) {
        <mat-error>{{ 'CATEGORIES.DIALOG.VALIDATION.NAME.LENGTH_INVALID' | translate }}</mat-error>
      }
      @if (form.controls.name.hasError('nameNotUnique')) {
        <mat-error>{{ 'CATEGORIES.DIALOG.VALIDATION.NAME.NAME_NOT_UNIQUE' | translate }}</mat-error>
      }
    }
    <mat-form-field appearance="outline">
      <mat-label>{{ 'SHARED.TYPE' | translate }}</mat-label>
      <mat-select formControlName="isIncome">
        <mat-option [value]="true">{{ 'SHARED.INCOME' | translate }}</mat-option>
        <mat-option [value]="false">{{ 'SHARED.EXPENSES' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
    @if (form.controls.isIncome.touched && form.controls.isIncome.hasError('required')) {
      <mat-error>{{ 'CATEGORIES.DIALOG.VALIDATION.TYPE.REQUIRED' | translate }}</mat-error>
    }
    <div class="controls">
      <button mat-button [disabled]="form.invalid" [mat-dialog-close]="form.value">
        {{ 'SHARED.SAVE' | translate }}
      </button>
      <button mat-button [matDialogClose]="null">{{ 'SHARED.CANCEL' | translate }}</button>
    </div>
  </form>
</div>
