nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

nav span {
  color: var(--color-primary);
}

nav span.active {
  border-bottom: 1px solid var(--color-primary);
}

nav span:hover {
  cursor: pointer;
}
