<div class="grid">
  <div class="left">
    <h1>XPENSOFT</h1>
    <form>
      <input
        type="text"
        [(ngModel)]="email"
        name="email"
        [placeholder]="translate.instant('SHARED.EMAIL')"
        autocomplete="email"
        [disabled]="loading()"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        [placeholder]="translate.instant('SHARED.PASSWORD')"
        autocomplete="current-password"
        [disabled]="loading()"
      />
      <button
        mat-raised-button
        (click)="login(email, password)"
        [disabled]="email.length === 0 || password.length === 0 || loading()"
        data-testid="login-button"
      >
        @if (loading()) {
          <mat-spinner diameter="25"></mat-spinner>
        } @else {
          {{ 'LOGIN.LOGIN' | translate }}
        }
      </button>
    </form>
    <p class="error">{{ error() }}</p>
    <div class="register">
      <span>{{ 'LOGIN.NEW_USER' | translate }}</span>
      <span
        class="register-button"
        [class.disabled]="loading()"
        (click)="!loading() && register()"
        >{{ 'SHARED.REGISTER' | translate }}</span
      >
    </div>
  </div>
  <div class="right">
    <div class="bullet-points">
      <div>
        <h1>{{ 'LOGIN.BULLET_POINTS.ONE.HEADER' | translate }}</h1>
        <p>{{ 'LOGIN.BULLET_POINTS.ONE.TEXT' | translate }}</p>
      </div>
      <div>
        <h1>{{ 'LOGIN.BULLET_POINTS.TWO.HEADER' | translate }}</h1>
        <p>{{ 'LOGIN.BULLET_POINTS.TWO.TEXT' | translate }}</p>
      </div>
      <div>
        <h1>{{ 'LOGIN.BULLET_POINTS.THREE.HEADER' | translate }}</h1>
        <p>{{ 'LOGIN.BULLET_POINTS.THREE.TEXT' | translate }}</p>
      </div>
    </div>
    <div class="version-info">v{{ version }} ({{ buildDate }})</div>
  </div>
</div>
