.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.left {
  display: flex;
  flex-direction: column;
}

.left h1 {
  color: var(--color-primary);
  text-align: center;
  font-size: 7.5rem;
}

.left form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left input,
.left button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50%;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.left button {
  color: white;
  font-weight: bold;
  background-color: var(--color-primary);
}

.left button:hover {
  background-color: var(--color-light);
  cursor: pointer;
}

.left button:disabled {
  background-color: var(--color-disabled);
  cursor: not-allowed;
}

.left .error {
  text-align: center;
  color: var(--color-negative);
}

.left .register {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 0.5rem;
  margin: auto 0 2rem 0;
}

.left .register-button {
  color: var(--color-primary);
  text-decoration: underline;
}

.left .register-button:hover {
  color: var(--color-light);
  cursor: pointer;
}

.left .register-button.disabled {
  cursor: not-allowed;
  color: var(--color-disabled);
}

.right {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, var(--color-dark), var(--color-light));
  color: white;
  text-align: center;
}

.right .bullet-points {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  padding: 0 5rem 0 5rem;
}

.right .version-info {
  margin: auto 0 2rem 0;
}
