.placeholder {
  position: fixed;
  height: var(--navbar-height);
  width: var(--sidenav-width);
  border-right: 1px solid var(--color-disabled);
  border-bottom: 1px solid var(--color-disabled);
  background-color: var(--color-light-background);
}

.controls {
  position: fixed;
  left: var(--sidenav-width);
  height: var(--navbar-height);
  width: calc(100% - var(--sidenav-width));
  background-color: var(--color-light-background);
  font-size: 1.2rem;
  z-index: 1;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-disabled);
}

.controls select {
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.25rem;
}

.controls ul {
  list-style-type: none;
  padding: 0;
}

.controls li {
  float: left;
}

.controls li label {
  background: white;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.controls li input[type='radio'] {
  width: 0;
  height: 0;
}

.controls li input[type='radio']:checked ~ label {
  background: var(--color-primary);
  color: white;
}

.sidenav {
  position: fixed;
  top: calc(2 * var(--navbar-height));
  height: 100vh;
  width: var(--sidenav-width);
  background-color: var(--color-light-background);
  border-right: 1px solid var(--color-disabled);
}

.main {
  text-align: center;
  position: absolute;
  top: var(--navbar-height);
  left: var(--sidenav-width);
  right: 0;
}

.section-title {
  padding: 1rem;
  cursor: pointer;
}

.section-title.active {
  background-color: var(--color-primary);
  color: white;
}

section {
  padding-bottom: 1rem;
  width: 75%;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--color-disabled);
}

thead {
  color: white;
  background-color: var(--color-primary);
}

th,
td {
  text-align: left;
  border-top: 1px solid var(--color-disabled);
  padding: 1rem;
}

.amount {
  text-align: right;
}

.amount-positive {
  background-color: var(--color-positive);
}

.amount-negative {
  background-color: var(--color-negative);
}
