<div class="content">
  <div class="placeholder"></div>
  <div class="controls">
    @if (sections()[activeSectionIndex()]?.displayOptions.length > 1) {
      <label for="display-select">{{ 'ANALYSIS.DISPLAY' | translate }}:</label>
      @for (displayOption of sections()[activeSectionIndex()]?.displayOptions; track $index) {
        <button
          [class.active]="activeDisplayOptionIndex() === $index"
          (click)="changeDisplayOption($index)"
        >
          <fa-icon [icon]="displayOption"></fa-icon>
        </button>
      }
    }
    <label for="year-select">{{ 'ANALYSIS.YEAR' | translate }}:</label>
    <select #yearSelect id="year-select" (change)="changeYear(+yearSelect.value)">
      @for (yearLabel of yearLabels(); track $index) {
        <option [value]="yearLabel" [selected]="year() === yearLabel">{{ yearLabel }}</option>
      }
    </select>
    @if (sections()[activeSectionIndex()]?.perMonth) {
      <label for="month-select">{{ 'ANALYSIS.MONTH' | translate }}:</label>
      <select #monthSelect id="month-select" (change)="changeMonth(+monthSelect.value)">
        @for (monthLabel of monthLabels(); track $index) {
          <option [value]="$index" [selected]="month() === $index">
            {{ monthLabel }}
          </option>
        }
      </select>
    }
  </div>
  <div class="sidenav">
    @for (section of sections(); track $index) {
      <div
        class="section-title"
        [class.active]="activeSectionIndex() === $index"
        (click)="changeSection($index)"
      >
        {{ section.title | translate }}
      </div>
    }
  </div>
  <div class="main">
    @switch (activeSectionIndex()) {
      @case (0) {
        <section>
          <h1>{{ 'ANALYSIS.SECTION_HEADERS.TOTALS' | translate }}</h1>
          @if (totalsThisYear().income || totalsThisYear().expenses) {
            @switch (activeDisplayOptionIndex()) {
              @case (0) {
                <table>
                  <thead>
                    <tr>
                      <th>{{ 'ANALYSIS.MONTH' | translate }}</th>
                      <th class="amount">{{ 'SHARED.INCOME' | translate }}</th>
                      <th class="amount">{{ 'SHARED.EXPENSES' | translate }}</th>
                      <th class="amount">{{ 'ANALYSIS.DIFFERENCE' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (month of totalsPerMonth(); track $index) {
                      <tr>
                        <td>{{ monthLabels()[$index] }}</td>
                        <td class="amount">{{ month.income | number: '1.2-2' }}</td>
                        <td class="amount">{{ month.expenses | number: '1.2-2' }}</td>
                        <td
                          [class]="
                            month.diff > 0
                              ? 'amount amount-positive'
                              : month.diff < 0
                                ? 'amount amount-negative'
                                : 'amount'
                          "
                        >
                          {{ month.diff | number: '1.2-2' }}
                        </td>
                      </tr>
                    }
                    <tr>
                      <td>
                        <b>{{ 'ANALYSIS.TOTAL' | translate }}</b>
                      </td>
                      <td class="amount">
                        <b>{{ totalsThisYear().income | number: '1.2-2' }}</b>
                      </td>
                      <td class="amount">
                        <b>{{ totalsThisYear().expenses | number: '1.2-2' }}</b>
                      </td>
                      <td
                        [class]="
                          totalsThisYear().diff > 0
                            ? 'amount amount-positive'
                            : totalsThisYear().diff < 0
                              ? 'amount amount-negative'
                              : 'amount'
                        "
                      >
                        <b>{{ totalsThisYear().diff | number: '1.2-2' }}</b>
                      </td>
                    </tr>
                  </tbody>
                </table>
              }
              @case (1) {
                <app-bar-chart
                  [labels]="monthLabels()"
                  [datasets]="[
                    {
                      data: incomePerMonth(),
                      label: 'SHARED.INCOME' | translate,
                      backgroundColor: incomeColor,
                    },
                    {
                      data: expensesPerMonth(),
                      label: 'SHARED.EXPENSES' | translate,
                      backgroundColor: expensesColor,
                    },
                  ]"
                  ,
                  [displayLegend]="true"
                ></app-bar-chart>
              }
            }
          } @else {
            <h3>{{ 'ANALYSIS.NO_DATA' | translate }}</h3>
          }
        </section>
      }
      @case (1) {
        <section>
          <h1>{{ 'ANALYSIS.SECTION_HEADERS.TOTALS_PER_CATEGORY' | translate }}</h1>
          @if (totalsThisYear().income || totalsThisYear().expenses) {
            <table>
              <thead>
                <tr>
                  <th>{{ 'SHARED.INCOME' | translate }}</th>
                  <th class="amount">{{ 'SHARED.AMOUNT' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                @for (category of totalsPerCategory(); track $index) {
                  @if (category.isIncome) {
                    <tr>
                      <td>{{ category.name }}</td>
                      <td class="amount amount-positive">
                        {{ category.amount | number: '1.2-2' }}
                      </td>
                    </tr>
                  }
                }
              </tbody>
            </table>
            <br />
            <table>
              <thead>
                <tr>
                  <th>{{ 'SHARED.EXPENSES' | translate }}</th>
                  <th class="amount">{{ 'SHARED.AMOUNT' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                @for (category of totalsPerCategory(); track $index) {
                  @if (!category.isIncome) {
                    <tr>
                      <td>{{ category.name }}</td>
                      <td class="amount amount-negative">
                        {{ category.amount | number: '1.2-2' }}
                      </td>
                    </tr>
                  }
                }
              </tbody>
            </table>
          } @else {
            <h3>{{ 'ANALYSIS.NO_DATA' | translate }}</h3>
          }
        </section>
      }
      @case (2) {
        <section>
          <h1>{{ 'ANALYSIS.SECTION_HEADERS.INCOME_DISTRIBUTION_PER_CATEGORY' | translate }}</h1>
          @if (totalsThisYear().income) {
            @switch (activeDisplayOptionIndex()) {
              @case (0) {
                <app-bar-chart
                  [labels]="incomeCategoryLabels()"
                  [datasets]="[
                    {
                      data: incomePerCategory(),
                      backgroundColor: colorScheme,
                    },
                  ]"
                ></app-bar-chart>
              }
              @case (1) {
                <app-doughnut-chart
                  [labels]="incomeCategoryLabels()"
                  [datasets]="[
                    {
                      data: incomePerCategory(),
                      backgroundColor: colorScheme,
                    },
                  ]"
                ></app-doughnut-chart>
              }
            }
          } @else {
            <h3>{{ 'ANALYSIS.NO_DATA' | translate }}</h3>
          }
        </section>
      }
      @case (3) {
        <section>
          <h1>{{ 'ANALYSIS.SECTION_HEADERS.EXPENSES_DISTRIBUTION_PER_CATEGORY' | translate }}</h1>
          @if (totalsThisYear().expenses) {
            @switch (activeDisplayOptionIndex()) {
              @case (0) {
                <app-bar-chart
                  [labels]="expensesCategoryLabels()"
                  [datasets]="[
                    {
                      data: expensesPerCategory(),
                      backgroundColor: colorScheme,
                    },
                  ]"
                ></app-bar-chart>
              }
              @case (1) {
                <app-doughnut-chart
                  [labels]="expensesCategoryLabels()"
                  [datasets]="[
                    {
                      data: expensesPerCategory(),
                      backgroundColor: colorScheme,
                    },
                  ]"
                ></app-doughnut-chart>
              }
            }
          } @else {
            <h3>{{ 'ANALYSIS.NO_DATA' | translate }}</h3>
          }
        </section>
      }
      @case (4) {
        <section>
          <h1>{{ 'ANALYSIS.SECTION_HEADERS.TOTALS_PER_CATEGORY_PER_MONTH' | translate }}</h1>
          @if (totalsPerMonth()[month()].income || totalsPerMonth()[month()].expenses) {
            <table>
              <thead>
                <tr>
                  <th>{{ 'SHARED.INCOME' | translate }}</th>
                  <th class="amount">{{ 'SHARED.AMOUNT' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                @for (category of totalsPerMonthPerCategory(); track $index) {
                  @if (category.isIncome) {
                    <tr>
                      <td>{{ category.name }}</td>
                      <td class="amount amount-positive">
                        {{ category.amount | number: '1.2-2' }}
                      </td>
                    </tr>
                  }
                }
              </tbody>
            </table>
            <br />
            <table>
              <thead>
                <tr>
                  <th>{{ 'SHARED.EXPENSES' | translate }}</th>
                  <th class="amount">{{ 'SHARED.AMOUNT' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                @for (category of totalsPerMonthPerCategory(); track $index) {
                  @if (!category.isIncome) {
                    <tr>
                      <td>{{ category.name }}</td>
                      <td class="amount amount-negative">
                        {{ category.amount | number: '1.2-2' }}
                      </td>
                    </tr>
                  }
                }
              </tbody>
            </table>
          } @else {
            <h3>{{ 'ANALYSIS.NO_DATA' | translate }}</h3>
          }
        </section>
      }
      @case (5) {
        <section>
          <h1>
            {{ 'ANALYSIS.SECTION_HEADERS.INCOME_DISTRIBUTION_PER_CATEGORY_PER_MONTH' | translate }}
          </h1>
          @if (totalsPerMonth()[month()].income) {
            @switch (activeDisplayOptionIndex()) {
              @case (0) {
                <app-bar-chart
                  [labels]="incomePerMonthCategoryLabels()"
                  [datasets]="[
                    {
                      data: incomePerMonthPerCategory(),
                      backgroundColor: colorScheme,
                    },
                  ]"
                ></app-bar-chart>
              }
              @case (1) {
                <app-doughnut-chart
                  [labels]="incomePerMonthCategoryLabels()"
                  [datasets]="[
                    {
                      data: incomePerMonthPerCategory(),
                      backgroundColor: colorScheme,
                    },
                  ]"
                ></app-doughnut-chart>
              }
            }
          } @else {
            <h3>{{ 'ANALYSIS.NO_DATA' | translate }}</h3>
          }
        </section>
      }
      @case (6) {
        <section>
          <h1>
            {{
              'ANALYSIS.SECTION_HEADERS.EXPENSES_DISTRIBUTION_PER_CATEGORY_PER_MONTH' | translate
            }}
          </h1>
          @if (totalsPerMonth()[month()].expenses) {
            @switch (activeDisplayOptionIndex()) {
              @case (0) {
                <app-bar-chart
                  [labels]="expensesPerMonthCategoryLabels()"
                  [datasets]="[
                    {
                      data: expensesPerMonthPerCategory(),
                      backgroundColor: colorScheme,
                    },
                  ]"
                ></app-bar-chart>
              }
              @case (1) {
                <app-doughnut-chart
                  [labels]="expensesPerMonthCategoryLabels()"
                  [datasets]="[
                    {
                      data: expensesPerMonthPerCategory(),
                      backgroundColor: colorScheme,
                    },
                  ]"
                ></app-doughnut-chart>
              }
            }
          } @else {
            <h3>{{ 'ANALYSIS.NO_DATA' | translate }}</h3>
          }
        </section>
      }
    }
  </div>
</div>
